<%- include('../partials/header') %>

<h2>All Products</h2>



<!-- <h3> product.name </h3>
<ul>
  <li> Name: $<%= product.name %>
      Department: <%product.department%>
  </li>
</ul> -->

<!-- description:
price:
imageUrl: -->


<!-- <div>
  <img id='Img' src=''>
  <form action='/cart' method='POST'>
    <input type='hidden' name="product" value='Shirt'>
    <input type='hidden' name="price" value='$15'>
    <input type='hidden' name="size" value='M'>
    <input type='hidden' name="quantity" value='1'>
    <p id='detail'>Name: Adidas Shirt <br>Style: Womens<br>Price: $25</p>
    <input type='submit' value='Add To Cart'>
  </form>
</div> -->



<!-- <table id="product-list">
    <thead>
      <tr>
        <th></th>
        <th>Name:</th>
        <th>Department:</th>
        <th>Description:</th>
        <th>Price:</th>
        <th>ImageURl:</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= user.cart.name %></td>
          <td>$<%= user.cart.department %></td>
          <td><%= user.cart.description %></td>
          <td><%= user.cart.price %></td>
          <td><%= user.cart.ImageUrl %></td>
        </tr>
    </tbody>
</table>
<% if (user) { %>
  <form action="/cart" method="POST">
    <button type="submit">Add to Cart</button>
  </form>
<% } %> -->





<%- include('../partials/footer') %>